.bitmapsub-video-window {
  --padding: 0px;
  --adjustment: 0px;
  position: relative;
  justify-items: center;
  pointer-events: none;
  display: none;
}

.video-js.vjs-has-started .bitmapsub-video-window {
  display: grid;
}

.bitmapsub-container {
  border-radius: 3px;
  opacity: 0;
  transition: opacity 0.1s, bottom 0.2s 0.1s;
  transform-origin: bottom;
  z-index: 1;
  pointer-events: none;
  font-size: 36px;
  padding: 1ch 2ch;
  background-color: #0006;
  position: absolute;
  bottom: var(--padding);
}

.vjs-control-bar {
  z-index: 100;
}

.bitmap-subtitle {
  display: inline-block;
  background-repeat: no-repeat;
}

.video-js.vjs-paused .bitmapsub-container,
.video-js.vjs-paused.vjs-fullscreen .bitmapsub-container,
.video-js.vjs-user-active .bitmapsub-container,
.video-js.vjs-user-active.vjs-fullscreen .bitmapsub-container {
  bottom: calc(var(--adjustment) + var(--padding));
}

.video-js.vjs-fullscreen .bitmapsub-container {
  bottom: var(--padding);
}

.bitmapsub-container.vobsub .bitmap-subtitle {
  filter: invert(1) sepia(1) saturate(2) hue-rotate(0deg);
}