/**,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

input,
textarea,
button {
    font-family: inherit;
}
*/
main {
  width: 50%;
  padding-block: 3em;
  margin-inline: auto;
}

#bitmapsub-container {
  --drift: 0;
  display: none;
  position: absolute;
  padding: 2ch;
  background-color: #0006;
  left: 50%;
  translate: -50%;
  opacity: 0;
  transition: opacity 0.1s, bottom 0.25s 0.25s;
  transform-origin: bottom;
  border-radius: 3px;
  z-index: 1;
  bottom: var(--drift);
  pointer-events: none;
}

.vjs-has-started #bitmapsub-container {
  display: inline-flex;
}

.vjs-user-active #bitmapsub-container {
  bottom: calc(30px + var(--drift))
}

.vjs-user-active.vjs-fullscreen #bitmapsub-container {
  bottom: var(--drift);
}

#bitmap-subtitle {
  display: inline-block;
  background-repeat: no-repeat;
  /* filter: invert(100%) sepia(100%) saturate(4000%) hue-rotate(190deg); */
  /* border: 1px solid crimson; */
}

.vjs-control-bar {
  z-index: 100;
}